.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 71px;
  border: 2px solid var(--Accent-Orange, #f9512e);
  border-radius: 32px;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    background-image: url(images/icons/Icon-cookie.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    display: inline-block;
  }

  &__text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 100%;
    color: #f9512e;
    font-weight: 500;
  }

  &__article {
    display: flex;
    position: relative;
    text-decoration: none;
    padding: 4px 0px;

    &::before {
      content: "";
      background-image: url(/images/icons/Icon-arrow.png);
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    &--text {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #f9512e;
      display: flex;
      align-items: center;
    }
  }

  &__contact {
    display: flex;
    position: relative;
    text-decoration: none;
    padding: 4px 0px;

    &::before {
      content: "";
      background-image: url(/images/icons/Icon-phone.png);
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    &--text {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #f9512e;
      display: flex;
      align-items: center;
    }
  }
}
