.footer {
  padding: 56px 0 72px;
  color: var(--Black, #1c1a26);
  font-family: Inter;
  text-align: left;
  background: var(--Black, #1c1a26);

  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
    gap: 24px;
    align-items: start;
  }

  &__menu {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 1 / 4;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 4;
    }

    &--item {
      color: var(--White, #fff);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      text-decoration: none;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    color: #fff;
    margin-top: 48px;
    margin-right: 5px;

    @media (min-width: 640px) {
      margin-bottom: 0;
    }

    @media (min-width: 1024px) {
      margin: 0;
      font-size: 72px;
      grid-column: 1 / 5;
    }
  }

  &__titles {
    margin-top: 40px;
  }

  &__contact {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 5 / 9;
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-column: 5 / 9;
    }

    &--phone {
      display: flex;
      flex-direction: column;

      @media (min-width: 1024px) {
        grid-column: 1 / 3;
      }
    }

    &--email {
      display: flex;
      flex-direction: column;

      @media (min-width: 1024px) {
        grid-column: 3 / 5;
      }
    }
  }

  &__icon {
    display: flex;
    gap: 32px;
    margin-top: 40px;

    @media (min-width: 640px) {
      grid-column: 1 / 4;
    }

    &--item {
      width: 20px;
      height: 20px;

      &-facebook {
        background-image: url(/images/icons/facebook.svg);
        background-repeat: no-repeat;
        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-facebook-hover.svg);
          background-repeat: no-repeat;
        }
      }

      &-instagram {
        background-image: url(/images/icons/instagram.svg);
        background-repeat: no-repeat;

        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-instagram-hover.svg);
          background-repeat: no-repeat;
        }
      }

      &-twitter {
        background-image: url(/images/icons/twitter.svg);
        background-repeat: no-repeat;

        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-twitter-hover.svg);
        }
      }
    }
  }

  &__copyright {
    grid-column: 1 / 3;
    color: var(--Grey, #7f8096);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    margin-top: 40px;

    @media (min-width: 640px) {
      grid-column: 5 / 9;
    }
  }
}
