.footer {
  padding: 56px 16px 72px;
  color: var(--Black, #1c1a26);
  font-family: Inter;
  text-align: left;
  background: var(--Black, #1c1a26);

  &__menu {
    display: flex;
    flex-direction: column;

    &--item {
      color: var(--White, #fff);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      text-decoration: none;
      margin-top: 16px;
    }
  }

  &__title {
    color: #fff;
    margin-top: 48px;
    margin-right: 5px;
  }

  &__titles {
    margin-top: 40px;
  }

  &__contact {
    &--phone,
    &--email {
      display: flex;
      flex-direction: column;
    }
  }

  &__icon {
    display: flex;
    gap: 32px;
    margin-top: 40px;

    &--item {
      width: 20px;
      height: 20px;

      &-facebook {
        background-image: url(/images/icons/facebook.svg);
        background-repeat: no-repeat;
        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-facebook-hover.svg);
          background-repeat: no-repeat;
        }
      }

      &-instagram {
        background-image: url(/images/icons/instagram.svg);
        background-repeat: no-repeat;

        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-instagram-hover.svg);
          background-repeat: no-repeat;
        }
      }

      &-twitter {
        background-image: url(/images/icons/twitter.svg);
        background-repeat: no-repeat;

        &:hover,
        &:active {
          background-image: url(/images/icons/Icon-twitter-hover.svg);
        }
      }
    }
  }

  &__copyright {
    color: var(--Grey, #7f8096);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    margin-top: 40px;
  }
}
