.header {
  background-color: var(--Light-Blue, #EEF7FF);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 40px;
  box-sizing: border-box;

  &__image {
    width: 288px;
    height: 290px;
  }

  &__paragraph {
    margin: 32px 0;
    text-align: center;
  }
}
