.header {
  background-color: var(--Light-Blue, #eef7ff);
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;

  &__navigation {
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__paragraph {
    margin: 32px 0;
    text-align: center;
    grid-column: 1 / 3;
  }

  &__title {
    grid-column: 1 / 3;
  }

  &__image {
    background-image: url(/images/Cookie.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 288px;
    height: 290px;
  }

  &__button {
    grid-column: 1 / 3;
  }
}
