.header {
  background-color: var(--Light-Blue, #eef7ff);
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
    gap: 24px;
  }

  &__navigation {
    position: relative;
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @media (min-width: 640px) {
      align-self: start;
      grid-column: 1 / 9;
      grid-row: 1 / 8;
    }
  }

  &__paragraph {
    margin: 32px 0;
    text-align: center;
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      margin: 16px 0;
      text-align: left;
      grid-column: 1 / 5;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 3;
      max-width: 200px;
    }
  }

  &__title {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 1 / 9;
      position: absolute;
      top: 390px;
      left: 160px;
    }

    @media (min-width: 1024px) {
      font-size: 136px;
      grid-column: 1 / 9;
      top: 290px;
      left: 20px;
    }
  }

  &__image {
    grid-column: 1/3;
    margin: 0;
    background-image: url(/images/Cookie.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 288px;
    height: 290px;

    @media (min-width: 640px) {
      width: 326px;
      height: 328px;
      grid-column: 1 / 9;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      width: 544px;
      height: 546px;
      grid-column: 1 / 9;
      margin-top: -200px;
    }
  }

  &__button {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 3 / 7;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 3;
      position: absolute;
      bottom: 160px;
    }
  }

  &__menu-link {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__links {
    display: none;

    @media (min-width: 640px) {
      display: none;
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
    }

    &--list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    &--item {
      margin-right: 64px;
    }

    &--link {
      color: var(--Black, #1c1a26);
      text-decoration: none;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      border-bottom: 1px solid transparent;
      padding-bottom: 8px;
      display: inline-block;

      &:hover {
        border-bottom: 1px solid #1c1a26;
      }
    }
  }
}
