.header {
  background-color: var(--Light-Blue, #eef7ff);
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
    gap: 24px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(8, 128px);
    gap: 24px;
  }

  &__navigation {
    position: relative;
    align-self: start;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @media (min-width: 640px) {
      align-self: start;
      grid-column: 1 / 9;
      grid-row: 1 / 2;
    }
  }

  &__paragraph {
    z-index: 2;
    grid-column: 1/3;
    margin: 32px 0;
    text-align: center;

    @media (min-width: 640px) {
      margin: 100px 0 0;
      grid-column: 1/5;
      text-align: start;
      width: 260px;
    }

    @media (min-width: 1024px) {
      grid-column: 1/3;
      margin-top: 135px;
      width: 200px;
    }
  }

  &__title {
    grid-column: 1/3;

    @media (min-width: 640px) {
      padding-top: 120px;
      z-index: 1;
      grid-column: 1/9;
      font-weight: 400;
      font-size: 80px;
      width: 680px;
      text-align: center;
    }

    @media (min-width: 1024px) {
      padding-top: 8px;
      font-size: 136px;
      width: 1112px;
    }

    @media (min-width: 1440px) {
      font-size: 144px;
      width: 1192px;
    }
  }

  &__image {
    grid-column: 1/3;
    margin: 0;
    background-image: url(images/Cookie.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 288px;
    height: 290px;

    @media (min-width: 640px) {
      width: 326px;
      height: 328px;
      grid-column: 3/7;
      margin: -222px 0;
    }

    @media (min-width: 1024px) {
      width: 544px;
      height: 546px;
      margin: -348px 0;
    }

    @media (min-width: 1440px) {
      width: 584px;
      height: 586px;
    }
  }

  &__button {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 3 / 7;
      margin-top: 150px;
    }

    @media (min-width: 1024px) {
      grid-column: 1/3;
      margin: 30px 0 75px;
    }
  }

  &__menu-link {
    @media (min-width: 1024px) {
      display: none;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__links {
    display: none;

    @media (min-width: 640px) {
      display: none;
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
    }

    @media (min-width: 1440px) {
      display: flex;
    }

    &--list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    &--item {
      margin-right: 64px;
    }

    &--link {
      color: var(--Black, #1c1a26);
      text-decoration: none;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.16px;
      border-bottom: 1px solid transparent;
      padding-bottom: 8px;
      display: inline-block;
      transition: border-bottom 0.3s ease;

      &:hover {
        border-bottom: 1px solid #1c1a26;
      }
    }
  }
}
