.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  background-color: var(--Light-Blue, #eef7ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  @media (min-width: 1024px) {
    display: none;
  }

  &:target {
    opacity: 1;
    transform: scale(1);
  }
}
