.products {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  justify-content: left;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
    gap: 24px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(8, 128px);
    gap: 24px;
  }

  &__name {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__paragraph {
    @media (min-width: 640px) {
      width: 328px;
    }

    @media (min-width: 1024px) {
      width: 402px;
    }
  }

  &__image {
    margin-top: 40px;
    width: 288px;
    height: 356px;
    border-radius: 10px;

    @media (min-width: 640px) {
      width: 328px;
      height: 424px;
    }

    @media (min-width: 1024px) {
      width: 402px;
      height: 512px;
    }
  }

  &__card {
    grid-column: 1 / 3;

    &:nth-child(odd) {
      @media (min-width: 640px) {
        grid-column: 1 / 4;
      }

      @media (min-width: 1024px) {
        grid-column: 1 / 4;
      }
    }

    &:nth-child(even) {
      @media (min-width: 640px) {
        grid-column: 5 / 9;
      }
    }

    &:nth-child(2n) {
      @media (min-width: 1024px) {
        grid-column: 4 / 9;
      }
    }

    &:nth-child(3) {
      @media (min-width: 1024px) {
        grid-column: 3 / 6;
      }
    }

    &:nth-child(4) {
      @media (min-width: 1024px) {
        grid-column: 6 / 9;
      }
    }
  }
}
