.section {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  justify-content: center;
  padding-bottom: 100px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 64px);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 118px);
    gap: 24px;
  }

  &__title {
    grid-column: 1 / 3;

    @media (min-width: 640px) {
      grid-column: 1 / 9;
    }

    @media (min-width: 1024px) {
      font-size: 72px;
    }
  }

  &__paragraph {
    grid-column: 1 / 3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;

    @media (min-width: 640px) {
      grid-column: 1 / 9;
    }
  }

  &__about {
    margin: 72px 0;
  }
}
