@import "./utils/reset";

@import "./blocks/title";
@import "./blocks/header";
@import "./blocks/main.scss";
@import "./blocks/article.scss";
@import "./blocks/data.scss";
@import "./blocks/section.scss";
@import "./blocks/products.scss";

body {
    background-color: var(--Light-Blue, #EEF7FF);
}