@import "./utils/reset";

@import "./blocks/title";
@import "./blocks/header";
@import "./blocks/main.scss";
@import "./blocks/data.scss";
@import "./blocks/section.scss";
@import "./blocks/products.scss";
@import "./blocks/button.scss";
@import "./blocks/footer.scss";
@import "./blocks/navigation.scss";
@import "./blocks/menu.scss";
@import "./blocks/links.scss";
@import "./blocks/about.scss";

